* {
    margin: 0;
    padding: 0;
}

/*.page-body{*/
/*background:url("../images/clean-white-polygon-backgrounds-10-1120x633.jpg") repeat ;*/
/*}*/

.top-header {
    height: 85px;
    font-size: 24px;
    line-height: 85px;
    background-color: rgba(18, 18, 18, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.top-header .login {
    display: inline-block;
    float: right;
    margin-right: 20px;
    height: 85px;
    font-size: 20px;
}

.login a + a {
    margin-left: 30px;
}

.login a:link, .login a:visited {
    text-decoration: none;
    color: white;
}

.login a:hover, .login a:active {
    text-decoration: none;
    color: rgb(191, 177, 153);
}

.SD-logo {
    float: left;
    margin-left: 50px;
    width: 80px;
    height: 80px;
}

.menu {
    display: inline-block;
    margin-left: 50px;
}

.menu a {
    display: inline-block;
    height: 85px;
    padding: 0 5px;
}

.menu a + a {
    margin-left: 2px;
}

.menu a:link, .menu a:visited {
    text-decoration: none;
    color: white;
}

.menu a:hover, .menu a:active {
    text-decoration: none;
    color: rgb(191, 177, 153);
}

.wrapper {
    padding-top: 100px;
    padding-bottom: 30px;

}

.wrapper-articles {
    padding-top: 100px;
    background: #fff;
}

.cell {
    float: left;
    width: 300px;
    height: 400px;
    margin-left: 60px;
}

.cell .img-instruc {
    min-height: 100px;
    max-height: 300px;
    overflow: hidden;

}

.instruction {
    height: 80px;
}
